<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmation</title>
    <link rel="stylesheet" href="final.css">
</head>
<body>
    <h1 class="headertext">Congratulations!</h1>
    <div class="confirmationsubtext">
        Advice was sent to <%- email %>
    </div>
</body>
</html>
