<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
    <link rel="stylesheet" href="final.css">
</head>
<body>
    <div class="background">
        <h1 class="headertext">Need Advice?</h1>
        <div class="box">   
        <form method="get" action="/processApplication">
            <input type="text" id="email" name="email" required class="maintext" placeholder="Enter Your Email">
            <input type="submit" value="Submit" class="submitbutton">
        </form>
        </div>
    </div>
    <script>
        
    </script>
</body>
</html>